<header class="headers p-4 flex justify-between items-center shadow-lg">
    <div class="flex items-center">
        <img src="ofer-logo.png" alt="לוגו עופר" class="logo">
        <h1 class="text-xl font-bold">תוכנת תחקור מאמנים</h1>
    </div>
    <div class="flex items-center space-x-4 space-x-reverse">
        <span id="user-greeting" class="text-sm">שלום משתמש/ת</span>
        <button id="logout-button"
            class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-3 rounded-lg text-sm transition-colors duration-200 hidden">
            התנתק
        </button>
    </div>
</header>