<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>תוכנת תחקור מאמן עופר</title>
<link rel="icon" type="image/png" href="ofer-logo.png">

<link rel="stylesheet" href="css/style.css">
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    'ofer-orange': '#F29E56',
                    'ofer-light-orange': '#F3AD55',
                    'ofer-yellow': '#FECF77',
                    'ofer-light-brown': '#A06344',
                    'ofer-dark-brown': '#4C2818',
                    'ofer-bg-tint': '#FFF7EE', // גוון בהיר מאוד לרקעים ו-hover
                    'ofer-primary-50': '#FFF7EE', // גוון בהיר ל-hover בטבלאות
                    'ofer-primary-500': '#F29E56', // כתום ראשי לגבולות/רינג
                }
            }
        }
    }
</script>